@model IEnumerable<MvcTpv.Models.SaleDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PVP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descuento)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PVP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleDetailID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaleDetailID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
